header{
 margin: 40px;
 background-color: rgb(238, 114, 238);
text-size-adjust: 80px;
justify-content: center;

}

body{
    background-color: rgb(151, 231, 127);
    color: rgb(0, 0, 0);
}

section{
    background-color: rgb(218, 121, 140);
    margin: 60px;
    display: flex;
    padding:left ;

}