header{
 margin: 40px;
 background-color: #61F58D;
text-size-adjust: 80px;
justify-content: center;
border-bottom:  #4AAECC ;

}

body{
    background-color: #60DC88;
    color: rgb(0, 0, 0);
}

section{
    background-color: #E080D2;
    margin: 60px;
    display: flex;
    padding:left ;

}